@use '/src/styles/base/mixins' as *;

.hero {
  
  .container {
    position: relative;
    
    margin: 0 auto;
    overflow: hidden;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-size: 4rem;
      font-weight: 700;
      
      @include mq('tablet') {
        bottom: 50px;
        left: 75px;
        transform: translateX(0);
      }
    }
  }

  
  &__img {

    @include mq('tablet') {
      margin-bottom: -50px;
    }
  }
}