.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2rem;
  gap: 1rem;
  justify-items: center;

  &.container {
    margin: 0 auto ;
    padding-block: 2rem;
  }

  &__spinner {
    margin: 0 auto;
    text-align: center;
  }
}
