.navbar {

  padding-bottom: 1rem;
  font-size: 1.5rem;

  &.bottom {
    margin-bottom: 4rem;
  }
  
  .container {
    display: flex;
    align-items: center;
    margin: 3rem auto 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d9d9d9;
    
    p {
      padding-right: 1rem;
      color: #616161;
    }
  }
  
  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 1rem;
    border-left: 1px solid #d9d9d9;
    color: #a3a3a3;
    list-style: none;
    gap: 1rem;
    

    &__item {
      padding: .5rem 1rem;
      transition: .2s linear;
      border-radius: 2rem;
      background-color: #ededed;
      cursor: pointer;

      &:hover {
        background-color: darken($color: #ededed, $amount: 10%);
      }

      &.selected {
        background-color: #0ad4fa;
        color: #ffffff;
      }
    }
  }

  &__arrow {
    margin-left: auto;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}