@use '/src/styles/base/mixins' as *;

.navbar {

  padding-bottom: 1rem;
  font-size: 1.25rem;

  @include mq('desktop') {
    font-size: 1.5rem;
  }

  &.bottom {
    margin-bottom: 4rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto 0;
    padding-bottom: 1rem;
    padding-inline: 2rem;
    border-bottom: 1px solid #d9d9d9;
    gap: .5rem;
    
    @include mq('tablet-wide') {
      flex-direction: row;
      gap: 0;
    }
    
    @include mq('desktop-wide') {
      padding-inline: 0;
    }

    p {
      padding-right: 1rem;
      color: #616161;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-left: 1rem;
    color: #a3a3a3;
    list-style: none;
    gap: 1rem;
    
    @include mq('tablet') {
      flex-direction: row;
    }

    @include mq('desktop') {
      border-left: 1px solid #d9d9d9;
    }
    

    &__item {
      padding: .5rem 1rem;
      transition: .2s linear;
      border-radius: 2rem;
      background-color: #ededed;
      cursor: pointer;

      &:hover {
        background-color: darken($color: #ededed, $amount: 10%);
      }

      &.selected {
        background-color: #0ad4fa;
        color: #ffffff;
      }
    }
  }

  &__arrow {
    cursor: pointer;
    
    @include mq('tablet-wide') {
      margin-left: auto;
    }

    &:hover {
      opacity: .7;
    }
  }
}