.navbar {

  padding-top: 2rem;
  font-size: 1.5rem;

  .container {
    display: flex;
    align-items: center;
    margin: 0 auto 0;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
}